.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1439853949127-fa647821eba0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjZ8fG5hdHVyZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
  background: linear-gradient(
    rgba(255, 255, 255, 0.7) rgba(255, 255, 255, 0.3)
  );
}
form {
  background-color: white;
  padding: 0px 60px;
  border-radius: 10px;
}

h2 {
  color: rgb(77, 1, 77);
  text-align: center;
  font-size: 28px;
}

button {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: none;
  background-color: rebeccapurple;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}
